h1{
    font-size: 6em;
    text-shadow: -0.2vh 0.2vh #555;
    color: #6e2;
    text-shadow: 0.1em 0.1em 0.3em #4a2;
    animation-name: code-fade;
    animation-duration: 10s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    
}
h2 {
    font-size: 2em;
    color: #6e2;
    text-shadow: 0.2em 0.1em 0.3em #4a2;
    animation-name: code-fade;
    animation-duration: 4s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-delay: 0.8s;
    
}

body{ /*set a bunch of standard values for everything else in this project*/
    font-family: "Lucida Console", "Courier New", monospace;
    color: azure;
    display: block;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-height: 500%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(45deg, red, blue);
}
.MainBlock{
    position: relative;
    display: inline-block;
    height: 40vh;
    width: 120vw;
    left: -10vh;    
    top: -15vh;    
    padding: 20vh;/* ensures box shadow goes to the end of the screen*/
    box-shadow: -5vh 24vh 12vh #111,-5vh -24vh 12vh #111;
    background-color:none;
    background: #111;
    rotate: -10deg;
    z-index: -1;
}
.content{
    position:relative;
    rotate: 10deg;
    background-color: #111;
    width: 80vw;
    height: 60vh;
}
#coverall{
    position: absolute;
    z-index: 1;
    background-color: #111;
    top:50vh;
    animation-name: fadeOut;
    animation-duration: 2s ;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    width :100%;
    height:800%;
}

#cubefall{
    position:relative;
    height: 50vh;
    max-height: 50vw;
    width: 50vw;
    margin: 2.5vh;
    transition: 0.05s;
}
#cubefall:hover{
    height: 60vh;
    max-height: 50vw;
    width: 60vw;
    margin: 0vh;
    transition: 0.05s   
}
#cubefallClick{
    position:relative;
    top:-50vh;
    height: 50vh;
    max-height: 50vw;
    width: 50vw;
    background-color: #6e2;
    opacity: 0%;
    transition: 0.05s  
} 
#cubefallClick:hover{
    top:-60vh;
    height: 60vh;
    max-height: 50vw;
    width: 60vw;
    margin: 0vh;
    transition: 0.05s   
}
iframe{
    border-radius: 0% ;
    height: 100%;
    width:  100%;
}
table{
    width:90vh;
    margin:5vh;
}
td{
    font-size: 2em;
}





#typeWriterText::after{
    content: "_";
    animation-name:blinking-text;
    animation-iteration-count: infinite;    
    animation-duration: 1s;
}
@keyframes fadeOut{
    from{ opacity: 100%; z-index: 1;}
    to{ opacity: 0%; z-index:-2;}
}
@keyframes code-fade{
    0% {
        color:  #6e2;
    }
    27% {
        color:  #6e2;
    }
    28% {
        color:  rgb(31, 78, 16);
    }
    29% {
        color:  #6e2;
    }
    35% {
        color:  #4a2;
    }
    36% {
        color:  rgb(31, 78, 16);
    }
    37% {
        color:  #6e2;
    }
    85% {
        color:  #6e2;
    }
    86% {
        color:  rgb(31, 78, 16);
    }
    87% {
        color:  #6e2;
    }
    100% {
        color:  #4a2;
    }
}
@keyframes blinking-text{
    0%{
        visibility:visible;
        color:  #4a2
    }
    50%{
        visibility:visible;
        color:  #4a2
    }
    51%{
        visibility:hidden;
        color:  #111
    }
    100%{
        visibility:hidden;
        color:  #111
    }
}