h1{
    font-size: 5vh;    
}
h2 {
    font-size: 2vh;
}
.crtText{
    color: #6e2;
    text-shadow: 0.2em 0.1em 0.3em #4a2;
    animation-name: code-fade;
    animation-duration: 4s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-delay: 0.8s;
}
html, body{
    max-width: 100vw;
    overflow-x:clip;

}
body{ /*set a bunch of standard values for everything else in this project*/
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 1em;
    color: azure;
    display: block;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(45deg, red,blue);
}
.ScrollingBackground{
    background: linear-gradient(45deg, rgb(89, 0, 0),rgb(89, 58, 0),rgb(89, 89, 0),rgb(0, 89, 0),rgb(0, 50, 0),rgb(0, 89, 89),rgb(0, 0, 90),rgb(90, 0, 90));
    width: 500vw;
    height: 500vh;
}



.MainBlock{
    position: absolute;
    height: 25vh;
    top: -30vh;    
    width: 200vw;
    left: -20vw;    
    padding: 20vh 22vw;/* ensures box shadow goes to the end of the screen*/
    box-shadow: -5vh 24vh 12vh #111,-5vh -24vh 12vh #111;
    background-color:none;
    background: #111;
    rotate: -10deg;
    z-index: -1;
}
.content{
    padding: 5vh 2vw;
    background-color: #111;
    max-width: 80vh;
    width: 80%;
    height: 45vh;
}
#coverall{
    position:relative;
    z-index: 1;
    background-color: #111;
    left:-50vw;
    top:-80vw;
    animation-name: fadeOut;
    animation-duration: 2s ;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    width :1000vw;
    height:200%;
    rotate: -10deg;
}



.iframeClick{
    position:absolute;
    bottom:0vh;
    height: 10vh;
    max-height: 50vw;
    width: 90%;
    background-color: #111;
    opacity: 15%;
    transition: 0.05s;  
    border-radius: 0px 0px 30px 30px;
} 
.iframeClick:hover{
    opacity: 90%;
    height: 30vh;
    max-height: 50vw;
    transition: 0.05s   
}
iframe{
    border-radius: 30px;
    height: 32vw;
    width:  90%;
}

table{
    margin:3vw;
}
tr{
    column-count: 3;
    column-gap: 1vw;
}
td{
    position:relative;
    width: 32vw;
    margin: 5%;
}

#Qotd{
    position: absolute;
    font-size: 2vh;
    height: 1em; 
    top: -1em;
    width: 200vw;
    overflow-y: clip;
    overflow-x: clip;
    background: none;
}





#typeWriterText::after{
    content: "_";
    animation-name:blinking-text;
    animation-iteration-count: infinite;    
    animation-duration: 1s;
}
@keyframes fadeOut{
    from{ opacity: 100%; z-index: 1;height:200%;}
    to{ opacity: 0%; z-index:-2;height:0%;}
}
@keyframes code-fade{
    0% {
        color:  #6e2;
    }
    27% {
        color:  #6e2;
    }
    28% {
        color:  rgb(31, 78, 16);
    }
    29% {
        color:  #6e2;
    }
    35% {
        color:  #4a2;
    }
    36% {
        color:  rgb(31, 78, 16);
    }
    37% {
        color:  #6e2;
    }
    85% {
        color:  #6e2;
    }
    86% {
        color:  rgb(31, 78, 16);
    }
    87% {
        color:  #6e2;
    }
    100% {
        color:  #4a2;
    }
}
@keyframes blinking-text{
    0%{
        visibility:visible;
        color:  #4a2
    }
    50%{
        visibility:visible;
        color:  #4a2
    }
    51%{
        visibility:hidden;
        color:  #111
    }
    100%{
        visibility:hidden;
        color:  #111
    }
}