body{
    background: #000;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 1em;
    columns: azure;
    margin: 2em;
    padding: 0;
    overflow: hidden;
}
div{
    color: azure;
}
video{
    position:relative;
    display: block;
    height:     100vh;
    max-width:      100vw;
    top:-10vh;
    margin: auto;
}

